//Главная страница

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    
//Контент
append content
    article.article 
        h1 Правила участия (H1)

        img(src="http://placehold.it/200x180").pull-left

        p Миндаль произрастает на каменистых и щебнистых склонах на высоте от 800 до 1600 м над уровнем моря (бухарский миндаль доходит до 2500 м), предпочитает богатые кальцием почвы. В Израиле произрастает значительно ниже 800 метров, в районе Хайфы очень близко к берегу Средиземного моря.
        p Произрастает небольшими группами по 3—4 особи, на расстоянии 5—7 метров одна от другой. Очень светолюбив, весьма засухоустойчив благодаря хорошо развитой корневой системе и экономной транспирации.

        h2 Правила участия (H2)
        Ядра горького миндаля несъедобны, из них получают жирное масло. Масло, очищенное от амигдалина, используют для варки лучших сортов мыла. Жмых ядовит, в прошлом из него приготовляли лечебную горькоминдальную воду, назначаемую как успокоительное, тонизирующее и обезболивающее средства. Из него отгоняют эфирное масло для отдушки парфюмерных изделий.

        h3 Правила участия (H3)
        blockquote 
            |Каждую неделю мы будем публиковать aрецепт национального блюда одной из пяти знаменитых гастрономических стран.
            |Ваша задача — приготовить и сфотографиромать. 
            b Лучший кулинар получит 15 книг Джейми Оливера
            |, остальные получат поощрительные призы.

        ul
            li Тиамин (B1)
            li Рибофлавин (B2)
            li Ниацин (B3)
            li Пантотеновая кислота

        ol
            li Тиамин (B1)
            li Рибофлавин (B2)
            li Ниацин (B3)
            li Пантотеновая кислота

        p
            a(href="file.doc") Проект договора <br/> поставки товаров

    
append footer
    include jade/footer
    
